<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Un-Shouter - Replace ALLCAPS Text with Sentence-Case</title>
    <meta name="description" content="Un-Shouter - Replace ALLCAPS Text with Sentence-Case">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Un-Shouter" />
    <meta property="og:description" content="Conversion tool for changing obnoxious, shouty ALLCAPS TEXT into a pleasing, sentence-cased tone. Maintains proper capitalization for sentences and first-person pronouns." />
    <meta property="og:url" content="http://unshouter.com" />
    <meta property="og:image" content="http://daftgopher.github.io/un-shouter/image/unshouter_banner.png" />
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/767618/761868/css/fonts.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/style/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style/main.css">
	</head>
    <body>
        <header id="site-header" class="siteHeader">
            <div class="container">
                <h1>Un-Shouter</h1>
                <p class="header-subhead"><span id="screamyText" class="screamyText">Convert obnoxious all-caps text to a more conversational volume.</span></p>
            </div>
        </header>
        {{ content }}
        {% include footer.html %}
        {% if page.script %}
            <script src="{{ site.baseurl }}/script/{{page.script}}.js"></script>
        {% endif %}
        <script src="{{ site.baseurl }}/script/webgl_test.js"></script>
        <script src="{{ site.baseurl }}/script/ie_warning.js"></script>
        <script>
            var screamyText = document.getElementById('screamyText');
            var header = document.getElementById('site-header');
            var animationEndListeners = ['animationend', 'webkitAnimationEnd', 'oAnimationEnd', 'MSAnimationEnd'];
            animationEndListeners.forEach(function(listener){
                screamyText.addEventListener(listener, function(){
                    screamyText.classList.add('done');
                    window.setTimeout(function(){
                        screamyText.classList.add('fadeIn');
                    }, 10);
                    window.setTimeout(function(){
                        header.classList.add('done');
                    }, 1000)
                });
            });
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49715515-2', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>